@import "vendor/bootstrap-reboot.min.css";

$color-black: #000;
$color-white: #fff;
$color-background: #000;
$color-primary: #838FA0;

$border-radius: 4px;
$debug-container: 230px;

html, body {
  position: relative;
  height: 100%;
  background-color: $color-background;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  padding: 20px;
  user-select: none;
  mix-blend-mode: difference;
  color: darken($color-white, 10);

  a, button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: rgba($color-primary, .2);
    border: 1px solid rgba($color-primary, .1);
    border-radius: $border-radius;
    outline: 0;

    img {
      max-width: 20px;
      height: auto;
      filter: invert(1);
    }

    .external-link {
      position: absolute;
      width: 16px;
      top: -6px;
      right: -6px;
      padding: 2px;
      background-color: rgba($color-primary, .2);
      border-radius: 2px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 160px;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
    margin-right: auto;
  }

  .open-debug-container {
    display: none;

    &.initialized {
      display: flex;
    }
  }
}

.scene {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

aside {
  width: $debug-container;
  margin-right: -$debug-container - 20px;
  padding: 10px;
  background-color: rgba($color-primary, .2);
  border: 1px solid rgba($color-primary, .1);
  border-radius: $border-radius;
  transition: margin-right 300ms;

  &.active {
    margin-right: 0;
  }

  section {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    h5 {
      margin: 0;
      min-width: 120px;
      text-align: left;
      font-size: 14px;
      font-weight: bold;
    }
  }
}